#NavMenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 18px 10px -10px rgb(236, 144, 5);
  margin-bottom: 10px;
  font-size: medium;
}

input {
  height: 25px;
  border-radius: 4px;
  border: none;
  text-align: center;
}

input:focus{
  outline: none;
}

select {
  width: 140px;
  height: 30px;
  border-radius: 4px;
  padding: 1px 2px;
}

select:focus {
  outline: none;
}

#NavMenu ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin-right: 15px;
}

#NavMenu a {
  text-decoration: underline;
  color: white;
}

#NavMenu a:hover {
  color: #e7650e;
  cursor: pointer;
}
