.footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.socialB {
    display: flex;
    justify-content: center;
}

.row {
    height: 20%;
}

.buttons {
    border-radius: 6px;
    height: 25px;
    width: 25px;
    margin: 10px;
    background-color: rgb(248, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    color: #c5c2c7;
    pointer-events: none;
}

.fa-angle-up {
    color: #c5c2c7;
}

.buttons:hover .fa-heart {
    color: red;
    border: none;
    outline: none;
}

.buttons:hover  {
    background-color: rgb(197, 197, 197);
}

.buttons:hover .fa-angle-up {
    color: #213072;
    border: none;
    outline: none
}

.fa-heart.faved {
    color: red;
}